$background: teal;
$jumbotronBackground: darkseagreen;

.result-background {
  background-color: $background;
}

:global(.jumbotron).result-background {
  background-color: $jumbotronBackground;
  display: block;
}
